<table class="table">
  <tr ng-repeat="album in albums">
    <td>
      <img src="../images/cover.svg" load-src="{{ src }}" visible="src = '/spop/uimage/' + album.uri" visible-options="{top: 150}" width="48" height="48" long-click="playAlbum(album)" />
    </td>
    <td ng-click="showAlbum(album)">
      <p>{{ album.title }}<br>
        <small>{{ album.artist }}</small></p>
    </td>
    <td>
      <button type="button" class="btn btn-default" dropdown="album" dropdown-items="items" dropdown-item-click="itemClick(data, item)"><span class="caret"></span></button>
    </td>
  </tr>
</table>