<table class="table">
  <tr ng-repeat="album in albums">
    <td>
      <img src="../images/cover.svg" load-src="/spop/uimage/{{ album.uri }}" width="48" height="48" long-click="playAlbum(album)" />
    </td>
    <td ng-click="showAlbum(album)">
      <p>{{ album.title }}<br>
        <small>{{ album.artist }}</small></p>
    </td>
    <td>
      <button type="button" class="btn btn-default" data-animation="am-flip-x" data-bs-dropdown="{data: album, items: menu}" data-template="scripts/modules/track/menu.html" data-html="1" data-placement="auto top-left"><span class="caret"></span></button>
    </td>
  </tr>
</table>