<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container" ng-controller="QuickPlayerCtrl">
    <div class="row">
      <div class="col-xs-2">
        <a class="btn navbar-btn" ng-click="openMenu()"><i class="fa fa-fw fa-bars"></i> Menu</a>
      </div>
      <div class="col-xs-8 text-center">
        <a ng-click="prev()" class="btn btn-default navbar-btn"><i class="fa fa-step-backward"></i></a>
        <a ng-click="toggle()" class="btn btn-default navbar-btn"><i class="fa" ng-class="{'fa-play': !status.isPlaying(), 'fa-pause': status.isPlaying()}"></i></a>
        <a ng-click="next()" class="btn btn-default navbar-btn"><i class="fa fa-step-forward"></i></a>
      </div>
      <div class="col-xs-2 text-right">
        <a href="#/search" class="btn btn-default navbar-btn"><i class="fa fa-search"></i></a>
      </div>
    </div>
  </div>
</nav>