<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li class="active">Queue</li>
</ol>

<a ng-click="prev()" class="btn btn-default"><i class="fa fa-step-backward"></i></a>
<a ng-click="toggle()" class="btn btn-default"><i class="fa" ng-class="{'fa-play': status !== 'playing', 'fa-pause': status === 'playing'}"></i></a>
<a ng-click="next()" class="btn btn-default"><i class="fa fa-step-forward"></i></a>

<a ng-click="clear()" class="btn btn-default"><i class="fa fa-trash-o"></i></a>


<div track-list="queue.tracks" track-menu="trackMenu" track-menu-click="trackMenuClick" track-class="trackClass"></div>