<table class="table tracks">
  <tr ng-repeat="track in trackList track by $index" ng-class="$trackClass(track)">
    <td>
      <div afkl-lazy-image="/spop/uimage/{{ track.uri }}" afkl-lazy-image-options="{className: 'track-cover'}" long-click="play(track)" ></div>
    </td>
    <td>
      <p>{{ track.title }}<br>
        <small>{{ track.artist }} - {{ track.album }}</small></p>
    </td>
    <td>
      <button type="button" class="btn btn-default" data-animation="am-flip-x" data-bs-dropdown="{data: track, items: trackMenu}" data-template="scripts/directives/trackList/menu.html" data-html="1" data-placement="auto top-left"><span class="caret"></span></button>
    </td>
  </tr>
</table>