<table class="table tracks">
  <tr ng-repeat="track in trackList track by $index" ng-class="trackClass(track)">
    <td>
      <img src="../images/cover.svg" load-src="/spop/uimage/{{ track.uri }}" width="64" height="64" long-click="play(track)" />
    </td>
    <td>
      <p>{{ track.title }}<br>
        <small>{{ track.artist }} - {{ track.album }}</small></p>
    </td>
    <td>
      <button type="button" class="btn btn-default" data-animation="am-flip-x" data-bs-dropdown="{data: track, items: items}" data-template="scripts/modules/track/menu.html" data-html="1" data-placement="auto top-left"><span class="caret"></span></button>
    </td>
  </tr>
</table>