<table class="table tracks">
  <tr ng-repeat="track in trackList track by $index" ng-class="trackClass(track)">
    <td>
      <img src="../images/cover.svg" load-src="{{ src }}" visible="src = '/spop/uimage/' + track.uri" visible-options="{top: 150}" width="48" height="48" long-click="play(track)" />
    </td>
    <td>
      <p>{{ track.title }}<br>
        <small>{{ track.artist }} - {{ track.album }}</small></p>
    </td>
    <td>
      <button type="button" class="btn btn-default" dropdown="track" dropdown-items="items" dropdown-item-click="itemClick(data, item)"><span class="caret"></span></button>
    </td>
  </tr>
</table>