<table class="table tracks">
  <tr ng-repeat="track in tracks track by $index" ng-class="trackClass(track)">
    <td>
      <img src="../images/cover.svg" load-src="/spop/uimage/{{ track.uri }}" width="64" height="64" long-click="play(track)" />
    </td>
    <td>
      <p>{{ track.title }}<br>
        <small>{{ track.artist }} - {{ track.album }}</small></p>
    </td>
    <td>
      <button type="button" class="btn btn-default" dropdown="track" dropdown-items="items" dropdown-item-click="itemClick(data, item)"><span class="caret"></span></button>
    </td>
  </tr>
</table>