<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li class="active">Search</li>
</ol>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Search" ng-model="term" ng-keypress="keypress($event)">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default" aria-expanded="false" ng-click="term=''"><i class="fa fa-times"></i></button>
    <button type="button" class="btn btn-default btn-primary" aria-expanded="false" ng-click="doSearch()">Search</button>
  </div>
</div>

<p></p>

<p ng-if="!search.isEmpty()">
  Found {{ search.tracks.length }} Tracks. <a ng-click="playTracks(search.tracks)">Play all tracks</a>
</p>
<p ng-if="search.isEmpty()">Nothing found</p>

<div track-list="search.tracks" track-menu="trackMenu" track-menu-click="trackMenuClick"></div>