@bowerBase: "../bower_components";

@import "variables";
@import "bootstrap";
@import "angular-strap";
@import "fontawesome";

@import "track-timer";
@import "volume";
@import "slider";

.gap {
  padding-top: @font-size-base;
  padding-bottom: @font-size-base;
}
.menu-button {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: @theme-body-bg;
}

.track-cover {
  height: 48px;
  width: 48px;
  // Disable user selection
  .user-select(none);
}

.queue-header h2 {
  margin-top: 0;
  margin-bottom: 0;
}
