/**
 * Bootstrap fixes
 */

/* fixed bottom navbar */
body {
  padding-top: 40px;
  padding-bottom: 50px;
}
/* Override table cell top-alignment */
.playlists > tbody > tr > td {
  vertical-align: middle;
}

/**
 * Bootstrap-addition/Angular-strap fixes
 */

/* Backdrop opacity */
.aside-backdrop {
  opacity: 0.1;
}

.menu-button {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
}
.track-cover {
  height: 48px;
  width: 48px
}