<h2>{{playlist.name}}</h2>

<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li><a href="#/playlists">Playlists</a></li>
</ol>

<a ng-click="play()" class="btn btn-default btn-primary">Play</a>

<div class="list-group">
  <a ng-repeat="track in playlist.tracks" class="list-group-item track">
    <div class="cover">
      <img ng-src="/spop/uimage/{{ track.uri }}" width="64" height="64">
    </div>
    <h4>{{ track.title }}</h4>
    <p>{{ track.artist }} - {{ track.album }}</p>
  </a>
</div>
<pre>{{playlist}}</pre>