<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li class="active">Search</li>
</ol>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Search" ng-model="term" ng-keypress="keypress($event)">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default" aria-expanded="false" ng-click="term=''"><i class="fa fa-times"></i></button>
    <button type="button" class="btn btn-default btn-primary" aria-expanded="false" ng-click="doSearch()">Search</button>
  </div>
</div>

<p></p>
<p ng-if="search.isEmpty()">Nothing found</p>

<div class="btn-group btn-group-justified" role="group" ng-show="!search.isEmpty()">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" ng-click="show = 'tracks'" ng-class="{'btn-primary': show === 'tracks'}">Tracks ({{search.total_tracks}})</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" ng-click="show = 'albums'" ng-class="{'btn-primary': show === 'albums'}">Albums ({{search.total_albums}})</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" ng-click="show = 'artists'" ng-class="{'btn-primary': show === 'artists'}">Artists ({{search.total_artists}})</button>
  </div>
</div>

<div ng-if="show === 'tracks' && search.tracks.length">
  <p class="gap">Show {{search.tracks.length}} of {{search.total_tracks}} tracks. <a ng-click="playTracks(search.tracks)">Play all tracks</a></p>

  <div track-list="search.tracks" track-menu="trackMenu" track-menu-click="trackMenuClick"></div>
</div>

<div ng-if="show === 'albums'">
  <p class="gap">Show {{search.albums.length}} of {{search.total_albums}} albums.</p>

  <div album-list="search.albums" ></div>
</div>

<div ng-if="show === 'artists'">
  <p>Show {{search.artists.length}} of {{search.total_artists}} artists.</p>

  <div artist-list="search.artists" ></div>
</div>
